<h2>Grid stack: </h2>
<button (click)="AddWidget()">Add Widget</button>
<grid-stack #gridStackMain id="gridStackMain" class="grid-stack" [options]="option">
  <grid-stack-item *ngFor="let widget of widgets; let i=index" id="widget-{{widget.ID}}" [option]="widget" class="grid-stack-item" [ngClass]="widgetsProperties[i] ? '': 'maximum-widget'">
    <div class="widget-header">
      <div class="widget-header-text">{{widget.Caption}}</div>
    </div>
    <div class="widget-content">
      <i class="material-icons" (click)="widgetsProperties[i] = !widgetsProperties[i]">face</i>
    </div>
  </grid-stack-item>
</grid-stack>