<!-- <div [ngClass]="isMaximum ? 'maximum-widget' : ''" class="grid-stack-item"
      data-gs-x="0" data-gs-y="0"
      data-gs-width="4" data-gs-height="2">
          <div class="grid-stack-item-content">
            <div>
              <h2>Title ne`</h2>
              <i (click)="maximum()" class="material-icons" *ngIf="!isMaximum">fullscreen</i>
              <i (click)="maximum()" class="material-icons" *ngIf="isMaximum">fullscreen_exit</i>
            </div>
            <div>
              <ng2-smart-table [settings]="settings" [(source)]="data"></ng2-smart-table>
            </div>
          </div>
  </div> -->